<a href="https://colab.research.google.com/github/Jayasenthur/Jayasenthur/blob/main/mycoding2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n,k=list(map(int,input().split()))
arr=list(map(int,input().split()))
arr.sort()
res=arr[k-1]
print(res)
if not res :
 print(-1)

5 4
1 1 1 1 5
1

In [ ]:
n=int(input())
s=str(n)
l=len(s)
sum=0
for char in s:
  sum=sum + int(char)**l
print(sum)

12300
276

In [ ]:
n=int(input())
l=[]
vowels="aeiou"
count=0
for i in range(0,n) :
  l.append(input())
for c in l :
   for i in l[i] :
      print(i)
      if i in vowels:
       count+=1
print(count)
if count==len(l) :
  print("yes")
else :
  print("no")


kkkkkkkkkkk

2
code
anish
a
n
i
s
h

TypeError: list indices must be integers or slices, not str

In [ ]:
class account() :

  def __init__(self,name,accountno,balance) :
    self.name=name
    self.accountno=accountno
    self.balance=balance
  def deposit(self,amount) :
    self.balance=self.balance + amount
    return " your updated balance" + str(self.balance)
  def withdraw(self,amount) :
    if (self.balance >= amount) :
      self.balance=self.balance-amount
      return "Your updated balance : " + str(self.balance)
    else :
      return false
  def transfer(self,account,amount) :
    if(self.withdraw(amount)) :
      account.deposit(amount)
    else :
      print("unable to withdraw")

jaya=account("jaya",1234,10000)
laks=account("laks",3456,20000)

print(jaya.name)
print(laks.balance)
print(jaya.deposit(3000))
print(laks.deposit(2000))
print(jaya.withdraw(500))
print(laks.withdraw(100))
print(jaya.transfer(1234,1000))
print(laks.transfer(3456,1000))

jaya
20000
 your updated balance13000
 your updated balance22000
Your updated balance : 12500
Your updated balance : 21900

AttributeError: 'int' object has no attribute 'deposit'

In [ ]:
class father() :
    def __init__(self):
        pass
    def nose(self) :
        return "pointed nose"


class son(father) :
    def __init__(self):
       pass
    def height (self) :
        return "6.1"
    def eyes(self) :
      return "black"

class grandson(son) :
    def __init__(self):
       pass
    def eyes(self) :
      return "green"

a=grandson()
print(a.height())
print(a.nose())
print(a.eyes())

6.1
pointed nose
green

In [ ]:
#without encapsulation
class BankAccount:
   def __init__(self, account_number, balance):
       self.account_number = account_number
       self.balance = balance  # Public attribute


   def deposit(self, amount):
     self.balance += amount
     return self.balance


   def withdraw(self, amount):
       if amount > self.balance:
           print("Insufficient funds!")
           return
       self.balance -= amount
       return self.balance


   def get_balance(self):
       return self.balance
account = BankAccount("123456789", 100)
print(account.get_balance())  # 100


# With the balance being public, we can change it directly, potentially causing data inconsistency or misuse:
account.balance = 1000000
print(account.get_balance())  # 1000000


# Or even set it to nonsensical values:
account.balance = -500
print(account.get_balance())

100
1000000
-500

In [ ]:
class test :
  name="class variable"
  def __init__(self):
    self.name="python"
    self.course="Data science"
  def func(self):
    print("hello")
x=test()
x1=test()
print(x1.name)
print(x1.course)
print(x.name)

python
Data science
python

In [ ]:
class parent :
  def function1(self) :
    print("this is function one")
class child(parent) :
  def function(self) :
    print("this is child function")
ob=child()
ob.function1()
ob.function()

this is function one
this is child function

In [ ]:
class parent1 :
  def func1(self):
    print("one")
class parent2 :
  def func2(self):
    print("two")
class child(parent1,parent2):
  def func3(self) :
    print("three")
obj=child()
obj.func1()
obj.func2()
obj.func3()

one
two
three

In [ ]:
k=int(input())
l=list(map(int,input().split()))
s=min(l)
g=max(l)
s_index=l.index(s)
g_index=l.index(g)
print(s_index + 1,g_index + 1)

5
1 2 3 4 5
1 5
1 5

In [ ]:
#merge k sorted arrays
k=int(input())
for i in range(n) :
  l=[]
  l.append()

In [ ]:
str1="hi how are you"
l=len(str1)

for char in str1 :
  str2=char[::-1]
  print(str2)
print(str2)

h
i

h
o
w

a
r
e

y
o
u
u

In [ ]:
def printReverse(s):
     l = [s for s in s.split(' ')]
     print(l[0], end = ' ')
     for i in range(1, len(l)-1):
       print(l[i][::-1], end = ' ')
     print(l[len(l)-1])
s = input()
printReverse(s)

hi how are you
hi woh era you

In [ ]:
#string codekata 87
s=input()
words=s.split()
max_length = max(len(word) for word in words)
longest_words = [word for word in words if len(word) == max_length]
if len(longest_words)>1 :
  print(str(longest_words[0]))
else :
  print(*longest_words)

geeks

In [ ]:
s,pos,n=[5567,2,1]
#list(map(int,input().split()))
str1=str(s)
str2=str1[n:pos]
print(str2)

5

In [ ]:
import datetime
datestring = input()
d = datetime.datetime.strptime(datestring ,'%m-%d-%Y')
print(str(d.strftime('%B')))

01-01-2018
January

In [ ]:
import datetime
datestring = input()
format = "%d/%m/%Y"
res = True
try:
    res = bool(datetime.datetime.strptime(datestring, format))
    if res==True :
      print("yes")
except ValueError:
    res = "no"
    print(res)

7/13/1986
no

In [ ]:
str1="aaab"
for char in str1 :
  print(str1.count(char))

3

In [ ]:
a = input()
for i in range(len(a)):
  if a[i] == 'a' or a[i] == 'b':
    flag = True
    pass
  else:
    flag = False
    break
if flag:
  print("yes")
else:
  print("no")

yes

In [ ]:
class car() :
  pass
honda=car()
honda.

yes

In [ ]:
str1,str2=input().split(' ')
if len(str1)==len(str2):
  print(str1+str2)
if len(str2)>len(str1) :
  print(str1+str2[:len(str1)])
if len(str1)>len(str2) :
  print(str1[:len(str2)]+str2)

coding club
codiclub

In [ ]:
vowels="aeiouAEIOU"
str1=input()
str2=""
str3=""
new_str=""
for c in str1 :
  if c in vowels :
    str2+=c
  else :
    str3+=c
new_str=str2+str3
print(new_str)

uIGV

In [ ]:
n = int(input())
if n >= -32768 and n <= 32767:print("INT")
else:print("LONG")

999
INT

In [ ]:
def foo(x) :
  return x + 1
result=map(foo,[1,2,3,4])
print(list(result))

[2, 3, 4, 5]

In [ ]:
(n, k) = map(str, input().split())
flag = True
for i in range(int(k)+1):
    if str(i) not in n:
        flag = False
        break
if flag:
    print("yes")
else:
    print("no")

235678 4
no

In [ ]:
#(str1, str2) = map(str, input().split())
#str1="codekata challenge"
str1=input()
str2=""
cnt=0
for char in str1 :
  if str1.count(char) == 1  :
    cnt+=1
  elif str1.count(char) > 1  :
        str2=str1.replace(char,"")
        str1=str2
if ' ' in str2 :
   print(str2.replace(" ",""))
elif len(str1)==cnt :
    print(str1)
else :
   print(str2)

gguuuvvi
i

In [ ]:
n=int(input())
li=list(map(int,input().split()))
max=0
max_freq_num=li[0]
for i in li :
   freq=li.count(i)
   if freq>max :
    max=freq
    max_freq_num=i
print(max_freq_num)

In [ ]:
n,k=list(map(int,input().split()))
li=list(map(int,input().split()))
m=[]
for i in li :
  if i<k :
    m.append(i)
if len(m)>=1 :
  print(*m)
else :
  print(-1)

5 3
5 6 7 8 9
-1

In [ ]:
n=int(input())
li=list(map(int,input().split()))
even=[]
odd=[]
for i in li :
  if i%2!=0 :
   odd.append(i)
  else :
    even.append(i)
if len(odd) > len(even) :
  if len(even)!=0 :
   print(*even)
else :
  if len(odd)!=0 :
    print(*odd)
if len(odd)==n or len(even)==n :
  print(-1)

3
2 4 6
-1

In [ ]:
n=int(input())
l=list(map(int,input().split()))
l.sort()
num=l[0]
flag=0
for i in l :
  if l.count(i)==n :
     print(-1)
     break
  else :
    flag=1
if flag==1 :
  print(l[1])

5
4 3 2 5 1
2

In [ ]:
n,k=list(map(int,input().split()))
li=list(map(int,input().split()))
if k  in li :
 print(li.index(k)+1)
else :
  print(-1)

5 4
3 2 1 2 3
-1

In [ ]:
b=int(input())
match b :
  case 1 :
    print("1")
  case 2 :
    print("2")
  case a :
    print("wrong")

88
wrong

In [ ]:
balance=10000
card=input("enter your card")

if card=="card" :
  print("valid card")
  pin=input("enter the pin")
  if pin=="1111" :
    print("access granted")
    ttype =input("enter W or D")
    if ttype=="w" :
       amt=int(input("enter amount to withdraw"))
       if amt<balance :
          balance=balance-amt
       else :
         print("Insuffucient operator")


  else :
    print("invalid pin")
else :
   print("invalid card")

In [ ]:
for i in range(0,10,2) :
 print(i)

0
2
4
6
8

In [ ]:
l1=[1,2,3,4,5]
l2=['a','b','c','d','e']
c=zip(l1,l2)
for i,j in c:
  print(i,j)
  print(*c)

1 a
(2, 'b') (3, 'c') (4, 'd') (5, 'e')

In [ ]:
#remove duplicates from the list
n=int(input())
li=list(map(int,input().split()))
new_li=list(set(li))
print(*new_li)

4
2 4 4 2
2 4

In [ ]:
#print the count of searching number in the list
n,k=list(map(int,input().split()))
li=list(map(int,input().split()))
if k in li :
  print("yes",li.count(k))
if k not in li :
  print("no")

5 3
3 3 4 4 7
yes 2

In [ ]:
n,k=list(map(int,input().split()))
l=[]
for i in range(k) :
  l.append(input())
print(l)

2 2
apple
apple
['apple', 'apple']

In [ ]:
n=int(input())
l=list(map(int,input().split()))
count=1
for i in l :
  if l.count(i)==1 :
    print(i)
    break

2
2 1
2

In [ ]:
n=int(input())
l=list(map(int,input().split()))
sum=0
for i in range(0,n-1) :
  sum+=l[i] +l[i+1]
print(sum)

5
1 2 3 4 5
24

In [ ]:
n=int(input())
l=list(map(str,input().split()))
for i in l :
  if l.count('P')==1 or l.count('A')==n :
    print("Blacklisted")
    break
  else :
    print("Not Blacklisted")
    break

5
A A A A A
Blacklisted

In [ ]:
import array as arr
a=arr.array('i',[2,3,4,5,8,10])
c=arr.array('i',[1,6,14,7,9,8])
e=arr.array('d',[2.2,1.3,4.5,6.2,7.6,8.1])
f=arr.array('d',[4.2,6.3,3.5,7.2,2.6,9.1])
g=e+f
#print(g[::-1])
print(g)
for x in g[:-3] :
  print(x)

array('d', [2.2, 1.3, 4.5, 6.2, 7.6, 8.1, 4.2, 6.3, 3.5, 7.2, 2.6, 9.1])
2.2
1.3
4.5
6.2
7.6
8.1
4.2
6.3
3.5

In [ ]:

dict1 ={'dav':'001','john' :'002','van' :'003'}
print(dict1)
dic=dict(dav='001',john='002',joe='003')
print(dic)

{'dav': '001', 'john': '002', 'van': '003'}

TypeError: 'dict' object is not callable

In [ ]:
l,b,h=list(map(int,input().split()))
a=2*((l*b) + (b*h) + (h*l))
v=l*b*h
print(a,v)

1 2 3
22 6

In [ ]:
#reverse a number
s=input()
rev=s[::-1]
print(int(rev))

100
1

In [ ]:
new_dict=dict(joe='001',van='002')
new_dict.pop('joe')
#for x,y in new_dict.items() :
  #print(x,y)
  #new_dict['joe']='004'
  #new_dict['chris']='003'
  #new_dict.pop('joe')
print(new_dict)

{'van': '002'}

In [ ]:

for i in ['rajini','sharuk','alia'] :
  for j  in ['kanth','khan','bhatt'] :
    #if i=='rajini'and j=='kanth' or i=='sharuk' and j=='khan' or i=='alia' and j=='bhatt' :
      sum_list=[a + b for a, b in zip(i,j)]
      print(sum_list)
      #print(i,j)

['rk', 'aa', 'jn', 'it', 'nh']
['rk', 'ah', 'ja', 'in']
['rb', 'ah', 'ja', 'it', 'nt']
['sk', 'ha', 'an', 'rt', 'uh']
['sk', 'hh', 'aa', 'rn']
['sb', 'hh', 'aa', 'rt', 'ut']
['ak', 'la', 'in', 'at']
['ak', 'lh', 'ia', 'an']
['ab', 'lh', 'ia', 'at']

In [ ]:
n,m=list(map(int,input().split()))
sum=0
for i in range(n,m):
  if i%2!=0 :
   sum+=i
print(sum)

5 10
21

In [ ]:
#palindrome string
s=input()
rev=s[::-1]
if s==rev :
  print(1)
else :
  print(-1)

-1

In [ ]:

l=["I","am","john","cena","cena","john"]
l.pop(l.index("cena"))

print(l)

#l=list(map(str,input().split()))

#for i in range(len(l)-2) :
  #print(l[i],l[i+1])
  #if l[i]==l[i+1] :
   # l.remove(l[i])
#print(*l)

['I', 'am', 'john', 'cena', 'john']

In [ ]:
import math
n=int(input())
a=math.sin(math.radians(n))
print("%.1f" % a)

30
0.5

In [ ]:
import math
def Log2(x):
    if x == 0:
        return False
    return (math.log10(x) /
            math.log10(2))
def isPowerOfTwo(n):
    return (math.ceil(Log2(n)) ==
            math.floor(Log2(n)))
a=int(input())
if(isPowerOfTwo(a)):
        print("yes")
else:
        print("no")

31
no

In [ ]:
def g1(x,d={}):
  d[x]=x
  return d
print(g1(3))

{3: 3}

In [ ]:
#n=input()
s=input()
sum=0
sum=int(s[0]) + int(s[1])
if str(sum) in s :
  print(1)
else :
  print(0)

yes

In [ ]:
#mathematics 96
#n,k=list(map(int,input().split()))
#l=list(map(int,input().split()))
n,k=7,250
l=[1,32,200,2,50,100,10]
#n,k=list(map(int,input().split()))
#l=list(map(int,input().split()))
m=[]
for i in l:
   if i<=k :
     m.append(i)
print(*m)
sum=0
count=0
for i in m:
  sum+=i
  count+=1
  if sum>k:
    break
print(sum)
print(count)

1 32 200 2 50 100 10
285
5

In [ ]:
l,b=list(map(float,input().split()))
a=l*b
print("{:.5f}".format(a))

2.5432 6.7654
17.20577

In [ ]:
n1,n2=list(map(int,input().split()))
diff=n1-n2
if diff%2==0 :
  print("even")
else :
  print("odd")

6 3
odd

In [ ]:
a,b,x=list(map(int,input().split()))
y=((a*x) + b)
print(y)

3 5 2
11

In [ ]:

for j in range(2) :
  for i in range(0,10) :
     if i==5 :
      continue
     print(i)

0
1
2
3
4
6
7
8
9
0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(0,100) :
  if i%10!=0 :
   print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
61
62
63
64
65
66
67
68
69
71
72
73
74
75
76
77
78
79
81
82
83
84
85
86
87
88
89
91
92
93
94
95
96
97
98
99

In [ ]:
a=0
while a<10 :
      print(a)
      a+=1

0
1
2
3
4
5
6
7
8
9

IndentationError: unexpected indent (<ipython-input-31-bf079735595a>, line 2)

In [ ]:
a=0
b=0
while a<5 :
  while b<5:
    print(a)
    b=b+1
  a=a+1

0
0
0
0
0
1
1
1
1
1
2
2
2
2
2
3
3
3
3
3
4
4
4
4
4

In [ ]:
a=1+2j
print(type(a))

<class 'complex'>

In [ ]:
n=int(input())
l=list(map(int,input().split()))
m=[]
for i in range(n-1) :
  m.append(max(l[i], l[i+1]))
print(*m)

In [ ]:
n,k=list(map(int,input().split()))
arr=list(map(int,input().split()))
for i in arr :
  if k in arr :
     arr.remove(k)
if len(arr)==n :
 print(-1)
else :
  print(*arr)

6 43
5 7 4 4 6 8
-1

In [ ]:
n,k=list(map(int,input().split()))
power=0
power=n**k
print(power)

3 3
27

In [ ]:
n=int(input())
for i in range(n,n+5) :
  if i%n==0 :
    print(i,end=" ")

3
3 6

In [ ]:
def CountSquares(m,n):
    cnt = 0
    for i in range (m, n + 1):
        j = 1;
        while j * j <= i:
            if j * j == i:
                 cnt = cnt + 1
            j = j + 1
        i = i + 1
    return cnt
a,b=list(map(int,input().split()))
cnt=CountSquares(a, b)
if cnt==0:
 print(-1)
else :
  print(cnt)

5

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
def check(expression):

    open_tup = tuple('({[')
    close_tup = tuple(')}]')
    map = dict(zip(open_tup, close_tup))
    queue = []

    for i in expression:
        if i in open_tup:
            queue.append(map[i])
        elif i in close_tup:
            if not queue or i != queue.pop():
                print(0)
                break
    if not queue:
        print(1)
    else:
        print(0)


string =str(input())
check(string)

))))))))(((((((
0
1

In [ ]:
lst=[1,11,6,7,3,4]
lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)
lst.sort()
print(lst)
lst.reverse()
print(lst)

[1, 3, 4, 6, 7, 11]
[11, 7, 6, 4, 3, 1]
[1, 3, 4, 6, 7, 11]
[11, 7, 6, 4, 3, 1]

In [ ]:
s="first time"
print(f"we are learning python {s}")
print("we are learning python {a}".format(a="second time "))

we are learning python first time
we are learning python second time

In [ ]:
#To chk if the string is made up of only 3 characters
s=input()
j=0
x=s[j]
c=1
for i in s :
  if i==x :
    continue
  else :
    c+=1
    x=i
if c==3 :
  print("wonder")
else :
  print(-1)

wonder

In [ ]:
vowels="aeiouAEIOU"
s=input()
l=[]
s1=""
count=0
for i in s:
 if i not in vowels :
    s1+=i
 else :
   count+=1
if count==len(s) :
  print(-1)
else :
   print(s1)

aeiu
-1

In [ ]:
#print sum of digits in a string
#s="AC30BD40"
s=input()
s1=""
sum=0
for i in s :
  if i.isdigit()==True :
    sum+=int(i)
  elif i.isalpha()==True :
    s1+=i
print(s1+str(sum))

AC30BD40
ACBD7

In [ ]:
#reverse a string
#s=str(input())
s="Jennyfer"
s=str(input())
rev=s[::-1]
print(rev.title())

Refynnej

In [ ]:
#s="HXTPS2142R"
s=input()
s1=s[0:5]
s2=s[5:9]
if s.isupper()==True and s1.isalpha() and s2.isdigit() and len(s)==10:
  print("pan")
else :
  print("not pan")

HXTPS2142R
pan

In [ ]:
s="mississipie"
s=input()
s1=""
for i in s :
    if s.count(i)==1 :
      s1=s1 + i
print(s1)

mississipe
mpe

In [ ]:
#s="amz"
s=input()
m=len(s)/2
if (s[0]=='a' or s[0]=='A') and (s[len(s)-1]=='z'
                      or s[len(s)-1]=='Z') and (s[int(m)]=='m' or s[int(m)]=='M') :
  print(1)
else :
  print(0)

1

In [ ]:
#Codekata string 23
#s="aaaaa"

s=input()
for i in s :
  if s.count(i)==1 :
    print(i)
    break
  else :
    if s.count(i)==len(s) :
      print(-1)
      break

apple
a

In [ ]:
s="XCODE"
s=input()
str_even=""
str_odd=""
concat=""
for i in range(0,len(s)) :
  if i%2!=0 :
    str_odd+=s[i]
  else :
    str_even+=s[i]
concat=str_even +" " +str_odd
print(concat)

XOE CD

In [ ]:
#s="abcddee"
s=input()
l=[]
count=0
for i in s:
  if s.count(i)>1 :
    l.append(i)
  elif s.count(i)==1 :
    count+=1
if count==len(s) :
  print(-1)
else :
  print(*list(set(l)))

abcddee
d e

In [ ]:
#l=list(map(str,input().split()))
#l=["abcd","efgh","ijkl"]
l=list(map(str,input().split()))
new_l=[]
for i in range(0,len(l)) :
  if i%2!=0 :
    new_l.append(l[i].lower())
  else:
    new_l.append(l[i].upper())
print(*new_l)

ABCD efgh IJKL

In [ ]:
name=input("Enter your Name :")
if name.isspace()!=True and name.isalpha()==True :
  print(name)
else :
  print("Invalid name")
phone_no=input("Enter your Phone no. :")
if phone_no.isdigit()==True and len(phone_no)==10 :
  print(phone_no)
else :
  print("Invalid phone no.")
at="@._"
email_id=input("Enter your Email ID :")
#if email_id in at and email_id.isalpha()==True :
if email_id in at or at in email_id :
  print(email_id)
else :
  print("Invalid email ID")

Enter your Name :jaa
jaa
Enter your Phone no. :8888888888
8888888888
Enter your Email ID :jaya.ss@gmail.com
Invalid email ID

In [ ]:
def myfun() :
  print("hello")
  print("world")
  return "ret"
a=myfun()
print(a)

hello
world
ret

In [ ]:
def func(word) :
  a=word.upper()
  b=len(word)
  return a + "is of length " +str(b)
func("this is python ")

'THIS IS PYTHON is of length 15'

In [ ]:
def largest(a,b,c) :
  print(type(a))
  if type(a)=="int" and type(b)=="int" and type(c)=="int" :
    if a > b and a > c :
       return a
    if b> a and b>c :
       return b
    if c > a and c > b :
       return c
  else :
    return "data type problem"
print(largest(33,66,77))

<class 'int'>
data type problem

In [ ]:
def func(name,acc,*values):
  print(name,acc)

In [ ]:
def kw(**values) :
  print(values)
  print(values.keys())
  print(values.values())
  for i,j in values.items() :
    print(len(j),len(i))
kw(name="jaya",tech="data",city="chennai")

{'name': 'jaya', 'tech': 'data', 'city': 'chennai'}
dict_keys(['name', 'tech', 'city'])
dict_values(['jaya', 'data', 'chennai'])

In [ ]:
x="test"
def func() :
  global x
  y=x*2
  return y
print(x)
print(func())

test
testtest

In [ ]:
def fact(n):
  if n in (0,1) :
   return 1
  else :
    return n * fact(n-1)
print(fact(5))

120

In [ ]:
cool= lambda x : "even" if x%2==0 else "odd"
cool(5)

'odd'

In [ ]:
a=lambda x : x + 10
a(3)

13

In [ ]:
ages=[23,21,6,12]
def adult(x) :
 if x<18 :
   return True
 else :
   return False
adults=filter(adult,ages)

In [ ]:
li=list(map(str,input().split()))
count=0
for i in li :
  print(li.count(i))
#print(count)

john johnny jackie johnny john jackie jamie jamie john johnny jamie johnny john
4
4
2
4
4
2
3
3
4
4
3
4
4

In [ ]:
import math
def findWinner(votes):
  n = len(votes)
  prevCount = 0
  result = ""
  for i in range(0, n):
        count = 0
        for j in range(0, n):
            if (votes[i] == votes[j]):
                count += 1
            if (count > prevCount):
                prevCount = count
                result = votes[i]
            elif (count == prevCount) :
                result = min(result, votes[i])
  print(result,count)
votes=list(map(str,input().split()))
findWinner(votes);

john johnny jackie johnny john jackie jamie jamie john johnny jamie johnny john
john 4

In [ ]:
def getCount(string):
 cnt=0
 n=len(string)
 i=0
 while i < n-2 :
  if (string[i]==string[i+1]) and (string[i]==string[i+2]) :
    cnt=1
    i+=2
  else :
    i+=1
 return cnt
string=input()
print(getCount(string))

xxwwwyy
1

In [ ]:
weekdays=["monday","tuesday","wednesday","thursday","friday"]
weekend=["saturday","sunday"]
day=input()
for i in weekdays :
  if day in weekdays :
    print("no")
    break
if day not in weekdays :
  for i in weekend :
    if day in weekend :
      print("yes")
      break

thursday
no

In [ ]:
s=input()
t=list(s)
t[::2],t[1::2]=t[1::2],t[::2]
c=''.join(t)
print(c)

codekata
<class 'str'>

In [ ]:
s=input()
li=[]
for i in s :
  if s.count(i)==1 :
    li.append(i)
print(*li)

d a c

In [ ]:
str1,str2=list(map(str,input().split()))
str3=""
count=0
if str1==str2 :
  print(-1)
elif str1!=str2 :
  for c in str2 :
     if c in str1 :
       str3 = str1.replace(c,'')
       count+=1
  if count==0 :
       print(str1)

  print(str3)

valid not
valid

In [ ]:
str1,str2=list(map(str,input().split()))
li_1=list(str1)
li_2=list(str2)
str3=str1[::-1]
li_1.sort()
li_2.sort()
if li_1==li_2 and str1==str3 :
  print(1)
else :
  print(0)

listen silent
0

In [ ]:
#strings 53
vowels="aeiou"
str1=input()
str2=""
count=0
for c in str1 :
  if c in vowels :
    str2=str1.replace(c,"")
    str1=str2
  else  :
    count+=1
if len(str2)!=0 :
  print(str2[::-1])
elif count==len(str1) :
  print(str1[::-1])

rhythm
mhtyhr

In [ ]:


string=input()
p=""
for char in string:
    if char not in p:
        p=p+char
print(p)

abababas
abs

In [ ]:
#str1="codekata"
#str2="codeguvi"
str1,str2,str3=list(map(str,input().split()))
cnt=int(str3)
count=0
for char in str1 :
  if char in str2 :
    count+=1
if cnt==count :
  print("yes")
else :
  print("no")

codekata codeguvi 4
yes

In [ ]:
b=[1,True,"test"]
b.append([1,2,3])
b.extend([1,2,3])
b.insert(0,5)
print(b)
print(b.count(1))
b.count(1)
print(b.index(1))
b.reverse()
print(b)

[5, 1, True, 'test', [1, 2, 3], 1, 2, 3]
3
1
[3, 2, 1, [1, 2, 3], 'test', True, 1, 5]

In [ ]:
lst=[1,56,43,22,32,89,77]
print(lst[0:5])
print(lst[:5])
print(lst[1::2])
print(lst[::-1])
print(lst[2:5:-2])
print(lst[-2])

[1, 56, 43, 22, 32]
[1, 56, 43, 22, 32]
[56, 22, 89]
[77, 89, 32, 22, 43, 56, 1]
[]
89

In [ ]:
b=[3]
b.append(2)
print(b)
b.append([True,2.3])
print(b)
c=b.pop(2)
print(c)
b.remove(3)
del b[0]
print(b)

[3, 2]
[3, 2, [True, 2.3]]
[True, 2.3]
[]

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
result = 0
for i in arr:
  result ^= i
print(result)

10
2 3 4 5 2 3 4 5 1 2
3

In [ ]:
n=int(input())
ar=list(map(int,input().split()))
n = len(ar)
xor=0
for i in range(n) :
  xor=xor ^ ar[i]
print(xor)

3
2 4 7
1

In [ ]:
def morethanNbyK(arr, n, k):
    x = n // k

    # unordered_map initialization
    freq = {}

    for i in range(n):
        if arr[i] in freq:
            freq[arr[i]] += 1
        else:
            freq[arr[i]] = 1

    # Traversing the map
    for i in freq:

        l=[]
        # Checking if value of a key-value pair
        # is greater than x (where x=n/k)
        if (freq[i] >= x):

            # Print the key of whose value
            # is greater than x
            #l.append((i))
            #print(i,end=" ")
            r=str(i)
            print(r,end=" ")
            trim=r.rstrip()



n ,k=list(map(int,input().split()))
arr=list(map(int,input().split()))
n=len(arr)
morethanNbyK(arr, n, k)

5 2
1 2 4 1 2
1 2

In [ ]:
from itertools import permutations
n = int(input())
l = [int(x) for x in input().split()]
n = len(l)
m = list(permutations(l,len(l)))
a = 0
for i in range(len(m)):
    b = 0
    for j in range(len(m[i])-1):
        b += max(m[i][j], m[i][j+1])
    if b > a:
        a = b
print(a)

5
1 2 3 4 5
18

In [ ]:
def checksum(arr,x) :
  sum=0
  for i in range(0,len(arr)) :
    for j in range(i+1,len(arr)) :
      if i!=j and i<len(arr) :
        sum=arr[i]+arr[j]
        if sum==x :
            print("yes")
            return
    print("no")
    return
n,x=list(map(int,input().split()))
arr=list(map(int,input().split()))
checksum(arr,x)

4 1
1 2 3 0
yes

In [ ]:

def sumOfMinAbsDifferences(arr,n):
    result = 0
    diff = 10**20;

    for i in range(0,n):
        for j in range(i+1, n):
             if abs(arr[i]-arr[j]) < diff:
                diff = abs(arr[i] - arr[j])
    return diff;
n=int(input())
arr=list(map(int,input().split()))
n = len(arr)
sumOfMinAbsDifferences(arr, n)

5
10 7 9 1 4

1

In [ ]:

def countOccurrences(s, word):

    # split the string by spaces in a
    a = s.split(" ")

    # search for pattern in a
    count = 0
    for i in range(0, len(a)):

        # if match found increase count
        if (word == a[i]):
           count = count + 1
    if count==0 :
      return -1
    return count

s =str(input())
word =str(input())
print(countOccurrences(s, word))

aaa ggg hhh aaa

TypeError: 'str' object is not callable

In [ ]:
n=str(input())
sum=0
for i in range(0,len(n)) :
  sum=sum + int(n[i])*int(n[i])
print(sum)

133
19

In [ ]:
n = input()
sett = list(set(n))

if(len(sett) == 2):
    print("saturated")
else :
    print("Unsaturated")

12111112
saturated

In [ ]:
n1,n2=list(map(int,input().split()))
min_num=min(n1,n2)
hcf=1
for i in range(1,min_num+1):
  if n1%i==0 and n2%i==0 :
    hcf=i
if hcf==1 :
  print(1)
else :
  print(0)

3 9
0

In [ ]:
n=int(input())
series=0
l=[]
for i in range(1,n+1) :
  series=series + i*i*i
  l.append(series)
print(*l)

3
1 9 36

In [ ]:
import re
x=input()
q=[]
y=re.split("\D+",x)
for i in range(len(y)):
 z=list(map(int,("".join(y[i]))))
 q.append(sum(z))
 w=sum(q)
print(w)

HR05-AA-2669
28

In [ ]:
n = int(input())
count = 0
for i in range(1, n+1):
    i = str(i)
    if i == i[::-1]:
        count += 1
print(count)

5
5

In [ ]:
n=input()
A=n.replace("."," ")
li=[]

for i in A.split():
    if i.isnumeric():
        li.append(int(i))
print(max(li))

 I was born on 12 october 1998.
1998

In [ ]:
  n=int(input())
  arr=list(map(int,input().split()))
  ans = arr[0]
  for i in range(1, len(arr)):
      ans = ans&arr[i]
  print(ans)

4
4 3 2 1
0

In [ ]:
n=int(input())
li=list(map(int,input().split()))
for i in range(0,len(li)) :
  li.count(i)

In [ ]:
n = str(input())
if int(n) > 0:
    if (int(n[-1]) + int(n[-2])) % 4 == 0:
        print("no")
    else:
        print("no")
else:
    if (int(n[-1]) + int(n[1])) % 4 == 0:
        print("yes")
    else:
        print("no")

20
no

In [ ]:
n=int(input())
if n%2==0 and n%3==0 and n%5==0 :
  print("yes")
else :
  print("no")

60
yes

In [ ]:
l=[]
m,k=list(map(int,input().split()))
for i in range(m+1,k) :
  l.append(i)
print(*l)

5 8
6 7

In [ ]:
n=int(input())
if n%4==0 :
  print("leap year")
else :
  print("not")

2023
not

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
arr.sort()
print(arr[0])

6
5 7 4 4 6 8
4

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
arr.sort(reverse = True)
print(arr[0])

6
5 7 4 4 6 8
8

In [ ]:
s=str(input())
m=s.lower()
print(m)

Guvi Geek
guvi geek

In [ ]:
n=int(input())
m=[]
l=list(map(int,input().split()))
for i in l :
  if i%2==0 :
    m.append("even")
  else :
   m.append("odd")
print(*m)

3
5 7 4
odd odd even

In [ ]:
n=int(input())
if n%2==0 :
  print("even")
else :
  print("odd")

3
odd

In [ ]:
m=[]
n,a,b,c=list(map(int,input().split()))
if n%a==0 and n%b==0 and  n%c==0 :
  print("yes")
else :
  print("no")

3 5 8 9
no

In [ ]:
s=str(input())
print(s.upper())

guvi geek
GUVI GEEK
GUVI GEEK

In [ ]:
n=int(input())
sum=0
arr=list(map(int,input().split()))
for i in arr :
  if i%2==0 :
    sum=sum+i
print(sum)

2
5 6
6

In [ ]:
s=str(input())
r=s[::-1]
print(r)

guvi geek
keeg ivug

In [ ]:
n=int(input())
sum=0
arr=list(map(int,input().split()))
for i in arr :
  sum=sum=i
if sum%2==0 :
  print("even")
else :
  print("odd")

3
5 7 4
even

In [ ]:
n,k=list(map(int,input().split()))
l=[]
for i in range(1,n+1) :
  l.append(k*i)
print(*l)

5 4
4 8 12 16 20

In [ ]:
s=str(input())
lower_count=0
upper_count=0
l=[]
for c in s :
  if c.islower() :
      lower_count=lower_count+1
  elif c.isupper() :
      upper_count=upper_count+1
l.append(upper_count)
l.append(lower_count)
print(*l)

Guvi Geek
2 6

In [ ]:
string = input()
dups={}
s=str()
for x in string:
  if x not in dups:
    dups[x]=0
  else:
    dups[x]+=1
for keys,vals in dups.items():
  if vals>0:
    s=s+ keys
print(s)

Guvi Geek
Ge

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
arr.sort()
print(*arr)

6
5 7 4 4 6 8
8 7 6 5 4 4

In [ ]:
string=str(input())
#for char in string :
 #if char.isalnum() :
    #test_str = ''.join(char)
test_str = ''.join(letter for letter in string if letter.isalnum())
print(test_str)

Xyz-aBc-nMk
XyzaBcnMk

In [ ]:
import math
n=int(input())
m=math.sqrt(n)
print(round(m))

16
4

In [ ]:
n,m=list(map(int,input().split()))
print(n//m,n%m)

6 3
2 0

In [ ]:
s=str(input())
m=s.replace(" ","")
print(len(m))

guvi geek
8

In [ ]:
n=int(input())
count=0
arr=list(map(int,input().split()))
for i in arr :
  if i>15 :
    print(i)
    count=count-1
    break
  else :
    count+=1
if(count>1) :
  print(-1)

3
5 6 77
77

In [ ]:
n=int(input())
sum=0
arr=list(map(int,input().split()))
for i in arr :
  sum=sum + i
print(sum)

3
5 7 4
16

In [ ]:
s=str(input())
print(len(s))

5678
4

In [ ]:
s=str(input())
sum=0
for c in s:
 sum=sum + int(c)
print(sum)

3589
25

In [ ]:
n,k=list(map(int,input().split()))
l=list(map(int,input().split()))
if l.count(k) >1 :
  print(l.count(k))
elif l.count(k) ==1 :
  print(0)
else :
  print(-1)

6 2
1 2 3 5 7 8
0

In [ ]:
s=str(input())
n= len(s)
str1 =""
for i in range(n):
      if (s[i] == 'a' or s[i] == 'e' or
         s[i] == 'i' or s[i] == 'o' or
         s[i] == 'u') or s[i] == ' ':
          c = (s[i]).upper()
          str1 += c
      else:
          str1 += s[i]
print(str1)

guvi geek
gUvI gEEk

In [ ]:
from re import sub

def camel(s):
  s = sub(r"(_|-)+", " ", s).title().replace(" ", "")
  return ''.join([s[0].upper(), s[1:]])

s=str(input())
print(camel(s))

guvi geek
GuviGeek

In [ ]:
s=str(input())
vowels="aeiouAEIOU "
sum_string=""
for c in s:
  if c in vowels :
    sum_string+=c
print(sum_string)

guvi geek
ui ee

In [ ]:
s=str(input())
vowels="aeiouAEIOU"
count=0
for c in s:
  if c in vowels :
    print("yes")
    break
  else :
    count+=1
print(count,len(s))
if count==len(s) :
  print("no")

8 8
no

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
arr.sort()
myset=set()
list1=[]
for num in arr :
  myset.add(num)
list1=list(myset)
print(list1[1])

6
5 7 4 4 6 8
5

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
for i in range(0,n) :
  if arr.count(i)>1 :
    arr.remove(i)
print(*arr)

6
5 7 4 4 6 8
5 7 4 6 8

In [ ]:
def findSingle(A, ar_size):
    for i in range(ar_size):
        count = 0
        for j in range(ar_size):
            if(A[i] == A[j]):
                count += 1
        if(count > 1):
            return A[i]
    return -1
n=int(input())
ar=list(map(int,input().split()))
n = len(ar)
print(findSingle(ar, n))

5
15 5 -20 -20 -45
-20

In [ ]:
n,k=list(map(int,input().split()))
arr=list(map(int,input().split()))
for i in range(0,n) :
  if k in arr :
    print("Yes")
    break
if k not in arr :
   print("No")

3 2
4 5 6
No

In [ ]:
n=int(input())
li=list(map(str,input().split()))
li.sort()
print(*li)

3
aac ab aa
aa aac ab

In [ ]:
import math
def primeFactors(n):
   l=[]
   while n % 2 == 0:
      l.append(2)
      n = n // 2
   for i in range(3,int(math.sqrt(n))+1,2):
     while n % i== 0:
         l.append(i)
         n = n // i
   if n > 2:
     print(n)
   l.sort()
   set1=set(l)
   li=list(set1)
   print(*li)
n = int(input())
primeFactors(n)

5
5

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
arr.sort()
myset=set()
list1=[]
for num in arr :
  myset.add(num)
list1=list(myset)
print(list1[1])

In [ ]:
import sys
n=int(input())
arr=list(map(int,input().split()))
smallest=min(arr)
index_small=arr.index(smallest)
second_smallest = sys.maxsize
print(second_smallest)
for i in range(n):
    if(arr[i] < second_smallest and arr[i] > smallest):
        second_smallest = arr[i]
index_second_smallest=arr.index(second_smallest)
print(index_second_smallest+1)

6
5 7 4 4 6 8
9223372036854775807
1

In [ ]:
n=int(input())
li=list(map(int,input().split()))
maximum= max(li[0],li[1])
second_max= min(li[0],li[1])
for i in range(2, n):
   if li[i]>maximum or  li[i]==second_max:
        second_max=maximum
        maximum=li[i]
   else:
         if li[i]>second_max or li[i]==second_max :
           second_max=li[i]
print(second_max)

5
2 3 4 7 7
7

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
arr1=[]
arr1=arr[: : -1]
print(*arr1)

6
1 2 3 4 5 6
6 5 4 3 2 1

In [ ]:
n=int(input())
p=0
l=[]
for i in range(1,n+1) :
 p=i*i+1
 l.append(p)
print(*l)

4
2 5 10 17

In [ ]:
import math
n=float(input())
print(math.ceil(n))

1.1
1
2

In [ ]:
s,k=list(map(str,input().split()))
n=int(k)
p=s[2::n]
m=str(p)
for i in m :
  print(i,end=" ")

string 3
r g

change every kth character to upper case in string

In [ ]:
s=str(input())
m=s + s[1].upper()
print(m)

string
stringT

find the maximum number from given number

In [ ]:
n=str(input())
l=int(''.join(sorted(n, reverse=True)))
print(l)

1124
4211

In [ ]:
n=int(input("Guess the number : "))
while n :
  if n==100 :
    print("Congrats")
    break
  else :
    print("Wrong number  try again")
    n=int(input("Guess the number : "))
    break

Guess the number : 22
Wrong number  try again
Guess the number : 100

In [ ]:
s=str(input("Enter the password :"))
n=5
count=0
while s :
 if s=="1234" :
  print("Attempt Success !")
  break
 elif s!="1234" :
  count=count+1
  print("Attempt failed.You have {count} attempts")
  break
 if count<5 :
   s=str(input("Enter the password :"))

 if count==5 :
   print("Pls try after 24 hrs")

Enter the password :1234
Attempt Success !

In [ ]:

max_chars=200
def areIsomorphic(string1,string2) :
  m = len(string1)
  n = len(string2)
  if m != n:
        return False
  marked = [False] * max_chars
  map = [-1] * max_chars
  for i in range(n):
         if map[ord(string1[i])] == -1:
           if marked[ord(string2[i])] == True:
                return False
           marked[ord(string2[i])] = True
           map[ord(string1[i])] = string2[i]
         elif map[ord(string1[i])] != string2[i]:
            print("no")
            return False
print("yes")

s1,s2=list(map(str,input().split()))
areIsomorphic(s1,s2)

yes
aab xxy

In [ ]:
s=str(input())
for i in s :
 if s.count(i) > 1 :
  c=s.count(i)
print(c)

codekata
2

In [ ]:
m,n=list(map(int,input()))

5
1 3 7 3 7
6

In [ ]:
n=int(input())
if n ==3 or n==5 or n==7 or n==9 or n==11  :
 t=n*2000 + 1000
if n==1 or n==2 or n==4 or n==6 or n==8 or n==10 or n==12:
  t=n*2000
print(t)

3
7000

In [ ]:
n,k=list(map(int,input().split()))
arr=list(map(int,input().split()))
m=[]
m= arr[: len(arr) -k]
print(*m)

5 4
1 2 3 4 5
1

In [ ]:
n=int(input())
l=list(map(int,input().split()))
l.sort()
m=l[0]
print(m)

5
5 4 3 2 1
1

In [ ]:
n=int(input())
l=list(map(int,input().split()))
for i in range(n-1) :
  s=max(l[i], l[i+1])
  print(s,end=" ")

5
1 2 3 4 5
2 3 4 5

In [ ]:
s=str(input())
for i in s :
 if (int(i) == int(i)+1) or ( int(i)==int(i)+2 ) :
  print("Saturated")
 else :
  print("Unsaturated")

121
Unsaturated
Unsaturated
Unsaturated

In [ ]:
n=int(input())
s=str(n)
p=1
sum=0
for i in s :
  p=p*int(i)
  sum=sum+int(i)
if p+sum==n :
  print("Great")
else :
  print("no")

55
no

In [ ]:
l=list(map(int,input().split()))
for i in l :
  if l[i].count()

In [ ]:
n=int(input())
s=str(n)
sum=0
for i in s :
 sum=sum+int(i)
if sum%3==0 :
  print("yes")
else :
  print("not")

13
not

In [ ]:
n=int(input())
s=str(n)
count1=0
neg =0
for i in s:
 j=int(i)
 print(j)
 #if i==1 :
 print(s[j])
 #print(s[int(i)+1])
   #if i==1 and s[int(i)]==1 and s[int(i)+1] :
  #print(i)
  #print(s[0])

       #if (s[int(i)] == s[int(i)+1]) :
        #count1=count1+1
  #if s[i]!=1 and s[i+1] !=1 :
    #neg=neg+1
#if count1>neg :
#print(count1)
#if neg >count1 :
 #print(-1)

1010
1
0
0
1
1
0
0
1

In [ ]:
#find the max count of consecutive digits in a number
n=input()
l=len(n)
count=0
res=0
for i in range(0,l) :
  if n[i]=='1' :
    count=count + 1
    res=max(res,count)
  else :
    count=0
if count > 0 :
  print(res)
else :
  print(-1)

In [ ]:
n=input()

3 5
-1

In [ ]:
n=int(input())
if n % 7==0 :
  print("yes")
else :
  print("no")

8
no

In [ ]:
n=int(input())
l=list(map(int,input().split()))
l.sort(reverse=True)
s=l[0]+l[1]
print(s)

5
1 5 6 8 3
14

In [ ]:
n=int(input())
l=list(map(int,input().split()))
l.sort(reverse=True)
s=l[0]-l[n-1]
print(s)

5
1 2 3 4 5
4

In [ ]:
n,k=list(map(int,input().split()))
arr1=list(map(int,input().split()))
arr2=list(map(int,input().split()))
arr3=[]
arr3=arr1+arr2
arr3.sort()
print(*arr3)

5 4
1 2 3 4 5
1 2 3 4
1 1 2 2 3 3 4 4 5

In [ ]:
n=int(input())
l=list(map(int,input().split()))
m=l[:]
r=l[:]
m.sort()
r.sort(reverse=True)
if(l==m or l==r) :
  print("yes")
else :
  print("no")

3
3 2 1
yes

In [ ]:
n=int(input())
s=str(n)
sum=0
for char in s:
  sum=sum + int(char)**4
  print(sum)

12300
1
17
98
98
98

In [ ]:
s,k=list(map(str,input().split()))
n=int(k)
p=s[2::n]
#for char in s[0::3] :
print(p,end=" ")
print(p.join(" "))

string 3
rg

In [ ]:
a,b,c=list(map(int,input().split()))
print((a*b) % c)

5 3 2
1

In [ ]:
s=str(input())
n=s.count("0")
k=s.count("1")
print(n,k)

101011111
2 7

In [ ]:
n=int(input())
l=list(map(int,input().split()))
l.sort()
print(l[0])

5
3 4 5 1 6
1

In [ ]:
n=int(input())
l,r=list(map(int,input().split()))
if n in range(l,r) :
  print("yes")
else :
  print("no")

5
1 3
no

In [ ]:
n=int(input())
s=str(n)
p=0
for chr in s :
  p =p + (int(chr) * int(chr))
print(p)

2143
30

In [ ]:
n=int(input())
s=str(n)
p=1
for chr in s :
  p =p * (int(chr) )
print(p)

2143
24

In [ ]:
n=int(input())
d=n%13
if d==0 :
  print("yes")
else :
  print("no")

21
no

In [ ]:
n=int(input())
s=str(n)
l=len(s)
print(l)

548
3

In [ ]:
#l=list(map(str,input().split()))
s=str(input().split())
print(s)
m=[]
for i in s :
  if i.isdigit() :
    m.append(int(i))
print(*m)

i was born on 12 1998
['i', 'was', 'born', 'on', '12', '1998']
1 2 1 9 9 8

In [ ]:
n=int(input())
s=str(n)
sum=0
for i in s :
  if int(i)%2 !=0 :
    sum=sum+ int(i)
if sum%2==0 :
  print("E")
else :
  print("O")

111
O

In [ ]:
n,r1,r2=list(map(int,input().split()))
l=list(map(int,input().split()))
s=0
for i in range(r1,r2) :
    if min(l[i],r1) and min(l[i],r2) :
       s=l[i]
print(s)

5 2 4
1 2 3 4 5
4

In [ ]:
n1=1
n2=1
print(min(n1,n2))

1

In [ ]:
#n=int(input())
s1=str(input())
#s2=str(input())
#s3=str(input())
sum1=0
#sum2=0
#sum3=0
vowels=["a","e","i","o","u","A","E","I","O","U"]
for char in s1 :
  if char in vowels :
     sum1=sum1+1
  #if char in s2 :
     #sum2=sum2+1
  #if char in s3 :
     #sum3=sum3+1
#print(sum1,sum2,sum3)
#s1=max(sum1,sum2,sum3)
print(sum1)

Vishaluarei
6

In [ ]:
n=int(input())
if (n>=1) or (n<=100) :
 for i in range(n) :
   for j in range(i+1)  :
     print("* ", end="")
   print("\n")

5
*

* *

* * *

* * * *

* * * * *

In [ ]:
s,k=list(map(str,input().split()))
n=int(k)
p=s[2::n]
print(p)
print(p.join("#"))

string 3
rg
#

In [ ]:
 n=str(input())
 if n== 0 :
   print("Zero")
 if (int(n) >= 1) :
  if int(n)%2 == 0 :
   print("Even")
  else :
   print("Odd")
 else :
   print(round(int(n),2))

78.5555

TypeError: '>=' not supported between instances of 'str' and 'int'

In [ ]:
n1,n2=list(map(int,input().split()))
print(n2-n1)

100 200
100

In [ ]:
l=list(map(int,input().split()))
l.sort()
print(l[0])

5 4 3 2 1 7 6 10 8 9
1

In [ ]:
n=int(input())
arr1=list(map(int,input().split()))
arr2=list(map(int,input().split()))
r=arr1[::-1]
if arr2==r :
  print("yes")
else :
  print("no")

4
1 2 3 4
1 2 3 4
no

In [ ]:
n=int(input())
l=list(map(int,input().split()))
l.sort()
print(l[1])

5
1 2 3 4 5
2